.que-container {
  text-align: justify;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}
h4 {
  border: 2px;
  border-radius: 10px;
  padding: 15px;
  background: #1d3557;
}

.btn-submit {
  background: black;
  color: white;
  border: none;
  width: 100px;
  padding: 0.5rem;
  border-radius: 5px;
}
