.main {
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 700px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
}

.btn-angle {
  display: flex;
  background: black;
  color: white;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  margin: 0.5rem;
  width: 180px;
  border: solid black 1px;
  border-radius: 5px;
}
